extends ./layout.jade

block content
    div.profile-chooser(onclick="console.log('Chapter total: ' + #{chapterTotal})") Start here. Find your local chapter and be sure to follow us on Facebook.
        form(action='' method='get' id='profile-form')
            select(name='test' form='profile-form' onchange="javascript:location.href = this.value;")
                option select your state 
                each state in Object.keys(data.states)
                    option.profile-option(value='/profile/'+state) #{state}
            //- input(type='submit' value='Submit')
