extends ./layout.jade

block content
    div.profile-chooser(onclick="console.log(#{chapterTotal})") Welcome! Find your chapter here.
        form(action='' method='get' id='profile-form')
            select(name='test' form='profile-form' onchange="javascript:location.href = this.value;")
                option select your state 
                each state in Object.keys(data.states)
                    option.profile-option(value='/profile/'+state) #{state}
            //- input(type='submit' value='Submit')
