html(lang="en")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    include ./partials/_head.jade
    body
        .header
  
            a(href='/' class="home")
            select.hidden
                for chapter in chapters
                    option= chapter.state +': ' + chapter.count
            div.main-page-link 
                div.chapter-total Current total chapters: #{chapterTotal}  
                a.mobile.hidden-lg.hidden-md(data-toggle="modal" href="#appChoiceMainPage" )
                    span Follow us on Facebook!
                a.desktop.hidden-xs.hidden-sm(href="https://www.facebook.com/localberniecrats/", target="_blank", onclick="ga('send', 'event', 'Main Page', 'click', 'Main Page');")
                    span Follow us on Facebook!    
                //- label.be-sure Be sure to
                .modal.fade(id="appChoiceMainPage",tabindex="-1",role="dialog",aria-labelledby="#appChoiceMainPage",aria-hidden="true")
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type="button",data-dismiss="modal")
                                    span(aria-hidden="true") &times;
                                    span.sr-only Close
                                h4.modal-title(id="appChoiceMainPage")  Do you want to go to the Facebook app or browser?
                            .modal-body
                                span.choice
                                    a(href='fb://profile?id=localberniecrats', onclick="$('#appChoiceMainPage').modal('hide'); ga('send', 'event', 'Main Page', 'click', 'Main Page');")
                                        span Facebook App.
                                    a(href="https://www.facebook.com/localberniecrats/", target="_blank", onclick="$('#appChoiceMainPage').modal('hide'); ga('send', 'event', 'Main Page', 'click', 'Main Page');") 
                                        span Facebook on browser.
                            .modal-footer
                                button.btn.btn-default(type="button",data-dismiss="modal") Cancel                
        .container
            block content
        .footer.col-xs-12
            .partners
                a(href='http://www.womenforjustice.us/', class='partner ')
                    span In Partnership With: 
                    img(src='/img/w4j-logo.png')
                a(href='https://ourrevolution.com/', class='partner solidarity ourrev')
                    span In Solidarity With: 
                    img(src='/img/ourrev-logo2.png')                       
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
