extends ../layout
block content
  .hidden-xs.col-sm-6.col-md-5.no-padding.pull-right        
    include ../partials/_article-links
  article.chapter-start
      h2 How to Create Local Chapters: 
      p
        | Welcome to Local Berniecrats! We are excited to have you join our community of chapters!  
      p
        | To get started, we repectfully require that you accept our one main guideline to run a chapter within our network:
      |     
      p
        | We have a singular focus of discussing down-ballot Berniecrat candidates, candidates with local districts, and discussing their policies and the issues.
        | We really want to focus on bottom-up revolution and avoid chapters turning into presidential campaign support or hate pages, meme wars, for or against national figures.
        | We understand that everyone will have their opinions in support or criticism about the presidential race but that is a topic for a
        | different group. It is ok to ask your chapter members to join one of those groups for those discussions just as long
        | as there is a clear understanding of the singular focus of Local Berniecrats by your members or anyone who
        | may be visiting. We need to focus only on Berniecrats who are running and encouraging Berniecrats to run!
        | The Local Berniecrats main page will provide supporting documents, image templates, ideas, and encouragement for local
        | chapters and their visitors. We also provide our chapter admins and Main page admins a Facebook group where we can ask questions and support each other!
      br
      strong Note: When you start a chapter, please be sure to send a direct message to the main page on Facebook with your chapter's link so we can add it to our list and give you resources. 
        | We require this direct message thread method in order to contact each of our chapter leaders as a refference. 
      br
      |     
      p 1. On Facebook, press &quot;Create Group&quot; (Groups are strongly recommended so information can still be shared in your absence.)
      |     
      p
        | 2. How to name your local chapter:
        br
        |         &quot;Local Berniecrats&quot; + (your city&apos;s, locality&apos;s, area&apos;s, or State&apos;s name).
        br
        |                   Example:
        br
        span St Louis would name theirs, &quot;
          strong.inline-block Local Berniecrats St Louis
          | .&quot;
        br
        |         Our friends in the Denver and Boulder CO area are close enough to each other that they named their page,
        |         &quot;Local Berniecrats Denver-Boulder.&quot;
      p THATS IT!
      |     
      p
        | Please message the main page on Facebook with your link when you have it and we will make you a customized cover image.
      |     
      |     
      p
        strong Other helpful points:
      p
        strong Pages vs. groups:
        br
        |         You should create a group rather than a page. This is your choice, however we want it to be informed. Pages give you more control over what gets posted while groups are usually
        |         easier to maintain because people can post freely to your group&apos;s wall. We have had issues when a page chapter admin is away for any amount of time and virtually all information halts so we would like to avoid that by using groups. 
      |     
      p
        strong Fun promotional events:
        br
        |         One idea is to have people promote their local chapter with street corner events holding a big banner with the name of their Page or Group with a Facebook logo. Most Bernie supporters will be quick to take note when they see anything Bernie related near their home. The main hub Local Berniecrats page will be providing templates for banners and other helpful supporting materials.
      |         
      |     
      p
        strong Other ways to promote:
        br
        |         Try to connect with any local Bernie groups and let them know about Local Berniecrats and its goal:
        |         Our Goal: Encourage Berniecrats to run for office and help people find their local Berniecrats to support.
        |         Our Quote: &quot;Berniecrats run for local office and Berniecrats support Berniecrats who run!&quot;
      |     
      p
      |     
      p
        strong What To Do Next:
        br
        |         There will be many ideas to come but here are a few:
        br
        |         
        span
          | - Make available a list of districts in your area and introduce the Berniecrats running for office there.
        br
        |         
        span
          | - Make a pinned post for all your relevant links and please include a link to our main page.
        br
        | 
        span
          | - Ask your fellow Local Berniecrats to attend their local party's monthly meetings, civic leagues, Township meetings, to influence things there and be part of the decisions in your area as Berniecrats. This will introduce new Berniecrats to the electoral processes.
        br
        |                 
        span
          | - Keep your chapter regularly updated on events, especially election dates where Berniecrats are running.
        br
        |                 
        span 
          | - Share your ideas with the main hub Local Berniecrats page!
        br
        |         
        span
          | - Join our promotional team! You or your chapter members can help us in a big way by regularly sharing the chapter list to help others immediately start organizing locally. Contact the main page to join the closed group and let us know how much time you can commit to! 
        br
        |         
        span
          | - Encourage your members to run for local office. Find out what issues they find most important to them.
        br
        |         
        span
          | - Encourage your members to start local chapters for more localized areas or communities that they live in, unless yours already is.
        br
        |         
        span
          | - If you find yourself needing to cut and paste links and other verbiage to advertise on other pages, you will save time and effort by using your device's keyboard text replacement shortcuts, Google it for instructions or direct message the main page.
        
  .col-xs-12.hidden-sm.hidden-md.hidden-lg         
    include ../partials/_article-links

