head
    title Landing Page
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type='text/css')
    link(rel='stylesheet', href='/styles/stylesheet.css', type='text/css')