head
    title Local Berniecrats
    meta( name="viewport", content="width=device-width, initial-scale=1.0")
    meta( property="og:image", content="your_image_here")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type='text/css')
    link(rel='stylesheet', href='/styles/stylesheet.css', type='text/css')
