.side-links
    div
        h4 Helpful Links!
        a.featured(href='/article/chapter-start/'+ profileName) How to Start a New Local Chapter
        a.featured(href='http://berniecrats.net/#' + (profileName ? data.abbrev :''), target='_blank') Berniecrats runnning in your state
            if (profileName) 
                span.profileNameCase.profile-link-name : #{profileName}
        a.featured(href="http://runningforschoolboard.info/running-school-board/", target='_blank') How to run for school board        
        a(href="http://www.sandersdemocrats.com/", target='_blank') Berniecrats Running: SandersDemocrats.com
        a(href="http://www.wikihow.com/Run-for-Political-Office", target='_blank') How to Run For Political Office: wikiHow.com
        a(href="http://act.boldprogressives.org/survey/fin_training_app/", target='_blank') p100Training: BoldProgressives.org
        a(href="https://www.usa.gov/election-office", target='_blank') Find Your Local Election Office        
