.side-links
    div
        a.featured(href='/article/chapter-start') How to Start a New Local Chapter
        a(href="") Berniecrats Running by State: Berniecrats.org
        a(href="") Berniecrats Running by State: SandersDemocrats.com
        a(href="") How to Run For Political Office: wikiHow.com
        a(href="") p100Training: BoldProgressives.org
        a(href="") Find Your Local Election Office        
